@model Mvc5AppV2.Models.Airport

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Airport</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AirportCode)

        <div class="form-group">
            @Html.LabelFor(model => model.AirportName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AirportName)
                @Html.ValidationMessageFor(model => model.AirportName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CityCode)
                @Html.ValidationMessageFor(model => model.CityCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CityName)
                @Html.ValidationMessageFor(model => model.CityName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateCode)
                @Html.ValidationMessageFor(model => model.StateCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryCode)
                @Html.ValidationMessageFor(model => model.CountryCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude)
                @Html.ValidationMessageFor(model => model.Latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeZoneCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeZoneCode)
                @Html.ValidationMessageFor(model => model.TimeZoneCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDomestic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDomestic)
                @Html.ValidationMessageFor(model => model.IsDomestic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preference, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preference)
                @Html.ValidationMessageFor(model => model.Preference)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
